<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="logo-topo animated-bg">
      <div class="stars">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="../assets/images/vertical.png" alt="um planeta roxo com um anel rosa circundando a área; de dentro do planeta, um ser humanóide de unhas compridas espia por uma janela. Atrás do planeta, estrelas animadas brilham contra um céu escuro que muda de cor entre tons escuros de verde e azul. embaixo do planeta, em rosa, na diagonal se lê Vanessa Guedes">
      </a>
    </div>
    </div>


    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>